<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login - Smart Locker</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Smart Locker Login</h1>
      <form method="post">
        <input
          type="text"
          name="username"
          placeholder="Username"
          required
          autofocus
          class="input-large"
        /><br />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
          class="input-large"
        /><br />
        <button type="submit" class="btn-large">Login</button>
      </form>
    </div>
  </body>
</html>
