{% extends "base.html" %} {% block title %}{{ _('Return Item') }}{% endblock %}
{% block content %}
<h1>{{ _('Return Item') }}</h1>
<form method="post">
  <input
    type="text"
    name="rfid"
    placeholder="{{ _('Scan RFID or enter code') }}"
    class="input-large"
  /><br />
  <select name="item_id" class="input-large">
    <option value="">{{ _('Select Item') }}</option></select
  ><br />
  <button type="submit" class="btn-large">{{ _('Return') }}</button>
</form>
<a href="/" class="btn-large">{{ _('Back') }}</a>
{% endblock %}
